<div class="single-question">
  <h2>
    <%= @question.title %>
    <span class="btn-report">
      <% if !user_signed_in? || !(current_user.reporting? @question) %>
        <strong class="report">
          <%= link_to "#report" do %>
            <i class="material-icons">flag</i>
            <span><%= t "report" %></span>
          <% end %>
        </strong>
      <% else %>
        <strong class="success-report">
          <%= link_to "#report" do %>
            <i class="material-icons">flag</i>
            <span><%= t "report" %></span>
          <% end %>
        </strong>
      <% end %>
    </span>
    <span class="question-action">
      <% if current_user %>
        <% if policy(question).update? %>
          <%= link_to edit_question_path, title: t("admin.edit")  do %>
            <i class="material-icons">edit</i>
          <% end %>
        <% end %>
        <% if policy(question).destroy? %>
          <%= link_to @question, method: :delete, title: t("admin.delete"),
            data: {confirm: t("delete_confirm")} do %>
            <i class="material-icons">delete</i>
          <% end %>
        <% end %>
      <% end %>
    </span>
  </h2>
  <div id="report" class="modal modal-report">
    <div class="modal-content">
      <%= render @supports_question.report %>
    </div>
  </div>
  <p>
    <%= question.content.html_safe %>
    <span class="chip">
      <%= link_to question.category, class: "text-black" do %>
        <%= question.category.ancestors[0].name %> -
        <%= question.category.name %>
      <% end %>
    </span>
    <% question.tag_list.each do |tag| %>
      <%= link_to tags_path(name: tag) do %>
        <span class="chip"><%= tag %></span>
      <% end %>
    <% end %>
  </p>
  <% if current_user %>
    <p>
      <span class="btn-add-answer"><%= t "button.add_answer" %></span>
      <strong class="space"></strong>
      <span class="buton-vote"><%= t "plus" %></span>
      <strong class="space"></strong>
      <span class="buton-vote"><%= t "minus" %></span>
    </p>
    <div class="add-answer">
      <%= form_for [@question, @supports_question.new_answer],
        remote: true do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.text_area :content %>
        <%= f.submit "submit" %>
      <% end %>
    </div>
  <% else %>
    <p>
      <%= link_to t("log_in_to_answer"), new_user_session_path,
        method: :get, class: "btn-add-answer" %>
    </p>
  <% end %>

  <div class="divide"></div>
    <p class="group-count">
      <strong class="owner-question">
        <%= link_to question.user.username, user_path(question.user) %>
      </strong>
      <strong class="space"></strong>
      <i class="material-icons">date_range</i>
      <strong><%= time_ago_in_words question.created_at %></strong>
      <strong class="space"></strong>
      <i class="material-icons">speaker_notes</i>
      <strong><%= question.answers.count %><%= t "answers" %></strong>
      <strong class="space"></strong>
      <i class="material-icons"><%= t "text.grade" %></i>
      <strong><%= question.vote_count %></strong>
    </p>
</div>
