<table>
  <tr>
    <td id="vote-form-question" class="vote">
      <%= render "votes/vote", votable: @question,
        vote: @supports_question.vote_question %>
    </td>
    <td class="collection">
      <div class="collection-item avatar">
        <%= link_to user_path @question.user do %>
          <%= image_tag "yuna.jpg", class: "circle" %>
        <% end %>
        <%= link_to user_path @question.user do %>
          <span class="title"><%= @question.user.username %></span><br>
        <% end %>
        <span><%= t "fake.point" %></span>
        <span class="medal">
          <%= image_tag "gold-medal.png", alt: "medal" %>
        </span>
        <div class="content_question">
          <p>
            <%= @question.content.html_safe %>
          </p>
        </div>
        <div class="secondary-content">
          <span><%= time_ago_in_words @question.created_at %></span>
          &nbsp;
          <% if current_user %>
            <% if policy(question).update? %>
              <%= link_to edit_question_path, title: t("admin.edit")  do %>
                <i class="material-icons">edit</i>
              <% end %>
            <% end %>&nbsp;
            <% if policy(question).destroy? %>
              <%= link_to @question, method: :delete, title: t("admin.delete"),
                data: {confirm: t("delete_confirm")} do %>
                <i class="material-icons">delete</i>
              <% end %>
            <% end %>
          <% end %>
        </div>

        <table class="question-footer">
          <tr>
            <td class="btn-add-answer">
              <span><%= t "button.add_answer" %></span>
            </td>
            <% if current_user %>
              <td class="add-answer">
                <%= form_for [@question, @supports_question.new_answer],
                  remote: true do |f| %>
                  <%= f.hidden_field :user_id, value: current_user.id %>
                  <%= f.text_area :content %>
                  <%= f.submit "submit" %>
                <% end %>
              </td>
            <% end %>
            <td id="flag-report">
              <% if !user_signed_in? || !(current_user.reporting? @question) %>
                <div class="report">
                  <%= link_to "#report" do %>
                    <i class="material-icons">flag</i>
                    <span><%= t "report" %></span>
                  <% end %>
                </div>
              <% else %>
                <div class="success-report">
                  <%= link_to "#report" do %>
                    <i class="material-icons">flag</i>
                    <span><%= t "report" %></span>
                  <% end %>
                </div>
              <% end %>
            <td class="report">
              <div id="report" class="modal modal-report">
                <div class="modal-content">
                  <%= render @supports_question.report %>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>
