<div class="topic-title">
  <div class="container">
    <h4>
      <%= link_to question_path do %>
        <%= @question.title %>
      <% end %>
    </h4>
  </div>
</div>
<div class="container-question">
  <%= render @question %>
</div>
<div class="count-answer">
  <h5>
    <span><%= @supports.answers.count() %></span>
    <%= t "answer_count" %>
  </h5>
</div>
<div class="container-answers">
  <%= render @supports.answers %>
</div>
