<div>
  <div class="topic-title">
    <div>
      <h4>
        <%= link_to "#" do %>
          <%= @question.title %>
        <% end %>
      </h4>
    </div>
  </div>
  <div class="container-question">
    <%= render @question %>
  </div>
  <% if current_user && policy(Report).destroy? %>
    <div class="container-manager-reports">
      <%= render "list_reports", question: @question %>
    </div>
  <% end %>
  <div class="count-answer">
    <h5>
      <span><%= @supports_question.answers.count %></span>
      <%= t "answer_count" %>
    </h5>
  </div>
  <div class="container-answers">
    <% @supports_question.answers.each_with_index do |answer, index| %>
      <%= render answer, vote: @supports_question.vote_answers[index] %>
    <% end %>
  </div>
</div>
