<ul id="slide-out" class="side-nav fixed">
  <li>
    <div class="userView">
      <div class="background">
        <%= image_tag "office.png" %>
      </div>
      <%= link_to user_path current_user do %>
        <%= image_tag "yuna.jpg", class: "circle" %>
      <% end %>
      <%= link_to user_path current_user do %>
        <span class="white-text name"><%= current_user.username %></span>
      <% end %>
      <%= link_to user_path current_user do %>
        <span class="white-text email"><%= current_user.email %></span>
      <% end %>
    </div>
  </li>
  <li>
    <%= link_to root_path, class: "waves-effect" do %>
      <i class="material-icons">home</i>
      <%= t "admin.home" %>
    <% end %>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <li>
    <%= link_to admin_reports_path, class: "waves-effect" do %>
      <i class="material-icons">flag</i>
      <%= t "admin.report_manager" %>
    <% end %>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <li>
    <%= link_to "#", class: "waves-effect" do %>
      <i class="material-icons">message</i>
      <%= t "admin.questions_manager" %>
    <% end %>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <li>
    <%= link_to destroy_user_session_path, method: "delete", class: "waves-effect" do %>
      <i class="material-icons">power_settings_new</i>
      <%= t "admin.log_out" %>
    <% end %>
  </li>
</ul>
<%= link_to "#", data: {activates: "slide-out"},
  class: "admin-button-collapse" do %>
  <i class="material-icons">menu</i>
  <%= t "administrator" %>
<% end %>
