<nav class="nav-extended">
  <div class="nav-content answers-manager-profile">
    <ul class="tabs">
      <li class="tab disabled">
        <%= link_to t("answers"), "#" %>
      </li>
      <li class="tab right-side">
        <%= link_to t("newest"), "#answer_newest", class: "active" %>
      </li>
      <li class="tab right-side">
        <%= link_to t("votest"), "#answer_votest" %>
      </li>
    </ul>
  </div>
</nav>

<div id="answer_newest" class="col s12 collection list-answers-profile">
  <% if @user.answers.empty? %>
    <p><%= t "stats_user.answer_empty" %></p>
  <% else %>
    <% @supports_user.newest_answers.each do |answer| %>
      <%= render "shared/best_answers", answer: answer %>
    <% end %>
  <% end %>
</div>
<div id="answer_votest" class="col s12 collection list-answers-profile">
  <% if @user.answers.empty? %>
    <p><%= t "stats_user.answer_empty" %></p>
  <% else %>
    <% @supports_user.votest_answers.each do |answer| %>
      <%= render "shared/best_answers", answer: answer %>
    <% end %>
  <% end %>
</div>
