<div class="collection comment-<%=comment.id %>">
  <div class="collection-item avatar">
    <% if comment.user.avatar? %>
      <%= image_tag comment.user.avatar.url, class: "circle" %>
    <% else %>
      <%= image_tag "https://cdn.pixabay.com/photo/2016/08/20/05/38/avatar-1
        606916_960_720.png", alt: t("avatar"), class: "circle" %>
    <% end %>
    <span class="title"><%= comment.user.username %></span><br>
    <span><%= pluralize comment.user.vote_count, t("point") %></span>
    <span class="medal">
    </span>
    <div class="content_answer">
      <p>
        <%= comment.content %>
      </p>
      <div class="edit-comment">
      </div>
    </div>
    <div class="secondary-content" data=<%=comment.id %>>
      <%= render "answers/action_btn", type: comment, class_type: "comment" %>
      <span><%= time_ago_in_words comment.created_at %></span>
    </div>
  </div>
</div>

