<% if !user_signed_in? %>
  <div class="vote-up">
    <%= link_to "#noti-unvote" do %>
      <input type="submit" value="keyboard_arrow_up"
        class="material-icons circle">
    <% end %>
  </div>
  <div class="vote-point"><%= votable.vote_count %></div>
  <div class="vote-down">
    <%= link_to "#noti-unvote" do %>
      <input type="submit" value="keyboard_arrow_down"
        class="material-icons circle">
    <% end %>
  </div>
<% else %>
  <div class="vote-up">
    <% if vote.positive? %>
      <input type="submit" value="keyboard_arrow_up"
        class="material-icons circle btn-vote">
    <% else %>
      <% if vote.new_record? %>
        <%= form_for vote, remote: true do |f| %>
          <%= f.hidden_field :question_id, value: @question.id %>
          <%= f.hidden_field :votable_id, value: votable.id %>
          <%= f.hidden_field :votable_type, value: votable.class.name %>
          <%= f.hidden_field :vote_type, value: :positive %>
          <%= f.submit t("keyboard_arrow_up"),
            class: "material-icons circle" %>
        <% end %>
      <% else %>
        <%= form_for vote, method: :delete, remote:true do |f| %>
          <%= f.hidden_field :question_id, value: @question.id %>
          <%= f.hidden_field :votable_id, value: votable.id %>
          <%= f.hidden_field :votable_type, value: votable.class.name %>
          <%= f.submit t("keyboard_arrow_up"),
            class: "material-icons circle" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="vote-point"><%= votable.vote_count %></div>
  <div class="vote-down">
    <% if vote.negative? %>
      <input type="submit" value="keyboard_arrow_down"
        class="material-icons circle btn-vote">
    <% else %>
      <% if vote.new_record? %>
        <%= form_for vote, remote:true do |f| %>
          <%= f.hidden_field :question_id, value: @question.id %>
          <%= f.hidden_field :votable_id, value: votable.id %>
          <%= f.hidden_field :votable_type, value: votable.class.name %>
          <%= f.hidden_field :vote_type, value: :negative %>
          <%= f.submit t("keyboard_arrow_down"),
            class: "material-icons circle" %>
        <% end %>
      <% else %>
        <%= form_for vote, method: :delete, remote:true do |f| %>
          <%= f.hidden_field :question_id, value: @question.id %>
          <%= f.hidden_field :votable_id, value: votable.id %>
          <%= f.hidden_field :votable_type, value: votable.class.name %>
          <%= f.submit t("keyboard_arrow_down"),
            class: "material-icons circle" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
<div id="noti-unvote" class="modal noti-unvote">
  <div class="modal-content">
    <h5><%= t "thanks_for_feedback" %></h5>
    <h6><%= t "content_unvote" %></h6>
    <%= link_to t("log_in"), new_user_session_path %>
  </div>
</div>
