<ul class="action-vote">
  <% if !user_signed_in? || (current_user == votable.user) %>
    <li>
      <%= link_to "#noti-unvote", class: "vote-up" do %>
        <input type="submit" value="thumb_up"
          class="material-icons">
      <% end %>
    </li>
    <li>
      <%= link_to "#noti-unvote", class: "vote-down" do %>
        <input type="submit" value="thumb_down"
          class="material-icons">
      <% end %>
    </li>
    <li class="vote-point"><%= votable.vote_count %></li>
  <% else %>
    <li class="vote-up">
      <% if vote.positive? %>
        <input type="submit" value="thumb_up"
          class="material-icons btn-vote-up">
      <% else %>
        <%= render "votes/form_vote", vote: vote, votable: votable,
          vote_type: :positive %>
      <% end %>
    </li>
    <li class="vote-down">
      <% if vote.negative? %>
        <input type="submit" value="thumb_down"
          class="material-icons btn-vote-down">
      <% else %>
        <%= render "votes/form_vote", vote: vote, votable: votable,
          vote_type: :negative %>
      <% end %>
    </li>
    <li class="vote-point"><%= votable.vote_count %></li>
  <% end %>
</ul>

<div id="noti-unvote" class="modal noti-unvote">
  <div class="modal-content">
    <% if user_signed_in? %>
      <h5><%= t "not_allow_vote" %></h5>
    <% else %>
      <h5><%= t "thanks_for_feedback" %></h5>
      <h6><%= t "content_unvote" %></h6>
      <%= link_to t("log_in"), new_user_session_path %>
    <% end %>
  </div>
</div>
