<header class="header">
  <section class="container clearfix">
    <div class="logo">
      <%= link_to root_path do %>
        <img src="http://2code.info/demo/themes/ask-me/wp-content/themes/ask-me/
          images/logo.png">
      <% end %>
    </div>
    <div class="navigation">
      <ul class="menu-header">
        <li class="menu-item">
          <%= link_to t("admin.home"), root_path %>
        </li>
        <li class="menu-item">
          <%= link_to t("button.create_question"), new_question_path %>
        </li>
        <li class="menu-item" >
          <a href="#"><%= t "class" %></a>
          <ul class="sub-menu">
            <% @supports.list_class.each do |c| %>
              <li class="item-sub-menu">
                <a href="#"><%= c.name %></a>
                <ul class="sub-menu-2">
                  <% c.descendants.each do |descendant| %>
                    <li class="item-sub-menu-2">
                      <%= link_to descendant do %>
                        <%= descendant.name %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
        </li>
        <li class="menu-item" >
          <a href="#"><%= t "subject" %></a>
          <ul class="sub-menu">
            <% @supports.list_object.each do |object| %>
              <li class="item-sub-menu">
                <%= link_to object, categories_path(object: object) %>
              </li>
            <% end %>
          </ul>
        </li>
        <% if current_user %>
          <li class="notification" data-current-user= <%= current_user.id %> >
            <i class="material-icons">notifications</i>
            <span><%= current_user.notifications.noti_not_seen.count %></span>
            <ul class="collection notification-list">
              <% @supports.notifications.each do |notification| %>
                <li class="collection-item click-to-seen
                  seen-<%= notification.seen %>" >
                  <p>
                    <%= link_to question_path(notification.question) do %>
                      <% if notification.answer %>
                        <% if notification.question.user == current_user %>
                          <%= render "shared/notification_content",
                            user_notify: notification.answer.user.username,
                            notification_content:
                              t("replied_in_your_question") %>
                        <% else %>
                          <%= render "shared/notification_content",
                            user_notify: notification.answer.user.username,
                            notification_content:
                              t("also_replied_in_question_you_following") %>
                        <% end %>
                      <% else %>
                        <% if notification.question.user == current_user %>
                          <%= render "shared/notification_content",
                            user_notify: notification.vote.user.username,
                            notification_content: t("voted_in_your_question") %>
                        <% else %>
                          <%= render "shared/notification_content",
                            user_notify: notification.vote.user.username,
                            notification_content: t("voted_in_your_answer") %>
                        <% end %>
                      <% end %>
                      <strong>
                        <%= truncate notification.question.title, length: 40 %>
                      </strong>
                    <% end %>
                  </p>
                  <p>
                    <%= time_ago_in_words notification.created_at %>
                    <%= t "ago" %>
                  </p>
                </li>
              <% end %>
            </ul>
          </li>
          <li class="menu-item">
            <% if current_user.avatar? %>
              <%= image_tag current_user.avatar.url, class: "avatar" %>
            <% else %>
              <img src="https://cdn.pixabay.com/photo/2016/08/20/05/38/avatar-16
                06916_960_720.png" alt="avatar" class="circle avatar">
            <% end %>
            <ul class="avatar-dropdown">
              <li><%= link_to t("link.profile"), user_path(current_user) %></li>
              <% if current_user.is_admin? %>
                <li><%= link_to t("link.admin"), admin_reports_path %></li>
              <% end %>
              <li><%= link_to t("link.sign_out"), destroy_user_session_path,
                method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li class="menu-item">
            <%= link_to t("link.login"), new_user_session_path, method: :get %>
          </li>
        <% end %>
      </ul>
    </div>
  </section>
</header>
