<div class="card-panel teal lighten-2 margin-5">
  <%= t "button.find_by_class" %>
</div>
<div class="list-subject">
  <% @supports.list_class.each do |c| %>
    <div>
      <div class="card">
        <div class="card-panel blue"><%= c.name %></div>
        <div class="collection">
          <% c.descendants.each do |descendant| %>
            <%= link_to descendant, class: "text-white collection-item" do %>
              <%= descendant.name %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="card-panel teal lighten-2 margin-5">
  <%= t "button.find_by_object" %>
</div>
<div class="row list-class">
  <% @supports.list_object.each do |object| %>
    <%= link_to object, categories_path(object: object),
      class: "col m4 text-white blue btn" %>
  <% end %>
</div>
<div class="card-panel teal lighten-2 margin-5">
  <%= t "popular_tag" %>
</div>
<div class="list-tag">
  <% @supports.popular_tag.each do |tag| %>
    <%= link_to tag_path(tag) do %>
      <span class="chip"><%= tag %></span>
    <% end %>
  <% end %>
</div>
